<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bphc.com.nirmaan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".LoginActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".LandingActivity"
            android:label="@string/title_activity_landing"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bphc.com.nirmaan.LoginActivity" />
        </activity>

        <activity
            android:name=".CreatorActivity"
            android:label="Course Creator"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScheduledDayStuffActivity"
            android:label="@string/title_activity_scheduled_day_stuff"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".StuQuestionBankActivity"
            android:label="@string/title_activity_scheduled_day_stuff"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.FeedVolunteerDataService"
            android:enabled="true" />
        <service
            android:name=".service.FeedStudentDataService"
            android:exported="false"></service>
    </application>

</manifest>